.MainLayout {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 12% 83% 5%;
    grid-template-columns: repeat(6, 1fr);
}

.MainLayout>header,
.MainLayout>footer {
    grid-column: span 6;
}

.MainLayout>main {
    grid-column: span 5;
}

.MainLayout,
.MainLayout>* {
    overflow: auto;
}