.AddNewCar {
	
}

.AddNewCar .CarDetails{
    display: block;
    min-width: 20rem;
    width: 30rem;
    max-height: 30rem;
    overflow: auto;
    background-color: #3a4346;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin: 1rem auto;
    border-radius: 6px;
    text-align: start;
}

.AddNewCar .detailLabel{
    background-color: #2e3234;
    color: white;
    margin-right: 0.5rem;
    padding: 0.1rem;
    border-radius: 0.5rem;
}

.AddNewCar .inputArea{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.AddNewCar .inputArea label{
    align-self: center;
}

