main {
  transition: all 0.2s;
  margin: 1rem auto;
  width: 50vw;
  text-align: center;
  padding: 2rem;
}

button {
  transition: all 0.2s;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #252525;
  color: white;
}

button:hover {
  box-shadow: 0px 0px 5px 3px white;
}

.first {
  background-color: red;
}

.second {
  background-color: green;
  color: white;
}

.third {
  background-color: blue;
  color: white;
}
