.ForgotPassword {}

.ForgotPassword .inputField input {
  background-color: azure;
  color: black;
}

.ForgotPassword .inputField {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ForgotPassword .alert {
  color: red;
  background-color: red;
}