.LoginForm {
    margin: auto;
    /* margin-top: 5rem; */
    width: 15rem;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 15px 1px grey;
    padding: 20px;
    color: white
}

.LoginForm>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.errorLog {
    color: red;
    padding: 0;
    margin: 0;
}

.LoginForm>hr {
    margin-bottom: 1.5rem;
}