.Login {}

.Login .inputField input {
  background-color: azure;
  color: black;
}

.Login .inputField {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Login .alert {
  color: red;
  background-color: red;
}